{% extends "base.html" %}
{% load staticfiles %}
{% block additional_css %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock %}
{% block content %}
    <div id="header">
        <h1>Site</h1>
    </div>
    <div id="leftmenu">
        <ul>
            {% url "main" as page_url %}
            <li>
                <a href="{{ page_url }}"{% if page_url == current_url %}class="current"{% endif %}>Main</a>
            </li>
                {% url "news_index" as page_url %}
            <li>
                <a href="{{ page_url }}"{% if page_url == current_url %} class="current"{% endif %}>News</a>
            </li>
                {% url "guestbook" as page_url %}
            </li>
                <a href="{{ page_url }}"{% if page_url == current_url %}class="current"{% endif %}>Guestbook</a>
            </li>
            {% if user.is_authenticated %}
                <li class="indented"><a href="/admin/">Admin</a></li>
                <li class="indented"><a href="{% url 'logout' %}">Logout</a></li>
            {% endif %}
        </ul>
    </div>
    <div id="main">
        {% block main %}
        {% endblock %}
    </div>
    <p id="footer">
        <p>footer</p>
    </div>
{% endblock %}